{% extends "base.html" %} {% block content %}{% load static %}

<section class="content">
    <section class="post_form">
   
        <header>
           
                <img src="https://techis-wd-twitter-clone.techisio.repl.co/static/img/logo-twitterblue.svg" alt="">

           <h1>Home</h1>
        </header>
       
   
       
        <form action='/' method='POST' enctype="multipart/form-data">
            <div class="img">
                 <img src="https://techis-wd-twitter-clone.techisio.repl.co/static/img/sample-icon.jpg" alt="">
            </div>
           <div style="width:100%">
            {% csrf_token %}
            <input type="body" placeholder="Your name" required name="name" /> <br>
            <textarea name="body" placeholder="What's happening ?" required></textarea>
            <div class="file">
                <input type="file" name="image">  
                <input class="btn" type="submit" value="Tweet" />
            </div>
          
           </div>
            
        </form>
    </section>
    <section class="Posts">

        <ul>
            {% for post in posts reversed %}
            <li>
                <img class="menu_icon js-menu-icon" src="{% static "img/menu.png" %}"/>
                <div class="menu">
                <a href="/delete/{{post.id}}/">Delete</a><br>
                <a href="/edit/{{post.id}}/">Edit</a>
                </div>
                <div class="logo">
                    <img src="https://techis-wd-twitter-clone.techisio.repl.co/static/img/sample-icon.jpg"/>
                </div>
                <div class="name_body">
                    <div class="name">{{post.name}}</div>
                    <div class="datetime">{{post.created_at}}</div>
                    
                    
                    <p>{{post.body}}</p>
                    <div class="post-img">
                        <img src="{{post.image.url}}" alt="">
                    </div>
                    <div class="like">
                        <a href="/like/{{post.id}}/">
                        <img src="{% static 'img/like.png'%}" alt="">
                    </a>
                    <p>{{post.like}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>
        </section>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="{% static 'js/posts.js' %}"></script>
    </section>
     {% endblock %}
